@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500&display=swap');

html {
    font-family: 'ReadexPro', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

*::-moz-scrollbar {
  width: 8px;
}

*::-moz-scrollbar-track {
  background-color: transparent;
}

*::-moz-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid #f5f5f5;
}

.listRender {
    scrollbar-width: none;
}

.racao, .banho, .shop, .clinica {
  margin-bottom: 20px;
}

.swal-modal .swal-text {
  text-align: center;
}

@media only screen and (max-height: 800px) {
  .listRender {
    height: 220px !important;
  }
  #dicasimg {
    height: 85px;
    width: 85px;
  }
  #aumigobotao {
    width: 150px;
    height: 40px;
    padding: 0px;
  }
}